In [1]:
import pandas as pd

In [2]:
neighbourhoods = pd.read_csv("neighbourhoods.csv")
neighbourhoods.head()

,Unnamed: 0,Postcode,Neighbourhood,Borough,Latitude,Longitude
0,0,M1B,"['Rouge', 'Malvern']",Scarborough,43.806686,-79.194353
1,1,M1C,"['Highland Creek', 'Rouge Hill', 'Port Union']",Scarborough,43.784535,-79.160497
2,2,M1E,"['Guildwood', 'Morningside', 'West Hill']",Scarborough,43.763573,-79.188711
3,3,M1G,['Woburn'],Scarborough,43.770992,-79.216917
4,4,M1H,['Cedarbrae'],Scarborough,43.773136,-79.239476

In [3]:
neighbourhoods["Borough"].unique()

array(['Scarborough', 'North York', 'East York', 'East Toronto',
       'Central Toronto', 'Downtown Toronto', 'York', 'West Toronto',
       "Queen's Park", 'Mississauga', 'Etobicoke'], dtype=object)

In [6]:
neighbourhoods.groupby("Borough")["Neighbourhood"].count()

Borough
Central Toronto      9
Downtown Toronto    18
East Toronto         5
East York            5
Etobicoke           12
Mississauga          1
North York          24
Queen's Park         1
Scarborough         17
West Toronto         6
York                 5
Name: Neighbourhood, dtype: int64

# search for Toronto neighbourhoods only

In [7]:
neighbourhoods_toronto = neighbourhoods[neighbourhoods['Borough'].str.contains("Toronto")]

In [8]:
neighbourhoods_toronto.head()

,Unnamed: 0,Postcode,Neighbourhood,Borough,Latitude,Longitude
37,37,M4E,['The Beaches'],East Toronto,43.676357,-79.293031
41,41,M4K,"['The Danforth West', 'Riverdale']",East Toronto,43.679557,-79.352188
42,42,M4L,"['The Beaches West', 'India Bazaar']",East Toronto,43.668999,-79.315572
43,43,M4M,['Studio District'],East Toronto,43.659526,-79.340923
44,44,M4N,['Lawrence Park'],Central Toronto,43.728020,-79.388790

In [9]:
neighbourhoods_toronto.groupby("Borough")["Neighbourhood"].count()

Borough
Central Toronto      9
Downtown Toronto    18
East Toronto         5
West Toronto         6
Name: Neighbourhood, dtype: int64

# neighbourhoods exploration

In [10]:
neighbourhoods_toronto.describe()

       Unnamed: 0   Latitude  Longitude
count   38.000000  38.000000  38.000000
mean    60.052632  43.667262 -79.389883
std     13.548606   0.023780   0.037954
min     37.000000  43.628947 -79.484450
25%     49.250000  43.649363 -79.405678
50%     58.500000  43.662152 -79.385975
75%     68.750000  43.678757 -79.375946
max     87.000000  43.728020 -79.293031

In [12]:
neighbourhoods_toronto2= pd.get_dummies(neighbourhoods_toronto)

In [13]:
neighbourhoods_toronto2.head()

,Unnamed: 0,Latitude,Longitude,Postcode_M4E,Postcode_M4K,Postcode_M4L,Postcode_M4M,Postcode_M4N,Postcode_M4P,Postcode_M4R,...,Neighbourhood_['Stn A PO Boxes 25 The Esplanade'],Neighbourhood_['Studio District'],"Neighbourhood_['The Annex', 'North Midtown', 'Yorkville']","Neighbourhood_['The Beaches West', 'India Bazaar']",Neighbourhood_['The Beaches'],"Neighbourhood_['The Danforth West', 'Riverdale']",Borough_Central Toronto,Borough_Downtown Toronto,Borough_East Toronto,Borough_West Toronto
37,37,43.676357,-79.293031,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
41,41,43.679557,-79.352188,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
42,42,43.668999,-79.315572,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
43,43,43.659526,-79.340923,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
44,44,43.728020,-79.388790,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0